.disctrict {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  ul {
    padding: 0 8px 0 0;
    li {
      padding: 6px 15px;
      background-color: rgb(211, 204, 204);
      color: black;
      border-radius: 20px;
      list-style: none;
      transition: .1s all linear;

      &:hover {
        background-color: rgb(39, 39, 39);
        color: white;
        cursor: pointer;
      }
    }
  }
}
