.App {
  margin: 0 auto;
  max-width: 1200px;
  height: 1000px;
  border-radius: 8px;
  padding: 20px;
  background-color: white;

  .disctrict {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    ul {
      padding: 0 8px 0 0;
      li {
        padding: 6px 15px;
        background-color: rgb(39, 39, 39);
        border-radius: 20px;
        list-style: none;
        color: white;
      }
    }
  }
}
